<form>
  <div class="form-group">
  <label for="firstName">First Name</label>
  <input
  required
  minlength="3"
  maxlength="10"
  pattern="banana"
  ngModel name="firstName"
  id="firstName"
  #firstName="ngModel"
  (change)="log(firstName)"
  type="text"
  class="form-control">
  <div
  class="alert alert-danger"
  *ngIf="firstName.touched && !firstName.valid">
    <div *ngIf="firstName.errors.required"> FirstName is required</div>
    <div *ngIf="firstName.errors.minlength">FirstName should be minimum 3 characters{{firstName.errors.minlength.required}} </div>
    <div *ngIf="firstName.errors.pattern">
    FirstName does not match pattern
  </div>
</div>
  <br/><br/>
  <div class="form-group">
       <label for="comment">Comment</label>
       <textarea id="comment" cols="10" rows="10" class="form-control"></textarea>
  </div>
  <br/>
  <button class="btn btn-primary">Submit</button>
  <br/>
   <h2>checkbox example</h2>
  <div class="form-check form-group">
    <input class="form-check-input" type="checkbox" id="notification" name="notification">
     <label class="form-check-label" for="notification">Notofication </label>
     </div>
  <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" id="alerts" name="notification">
      <label class="form-check-label" for="alert">Alert</label>
  </div>
  <button class="btn btn-primary">ok</button>

<h2>radio button example</h2>
<p>Gender</p>
<div class="form-group">
 <div class="form-check">
   <input type="text" class="form-check-input" type="radio" name="gender" id="gender" value="male" checked>
   <label for="gender" class="form-check-label">Male</label>
   <br/><br/>
   <input type="text" class="form-check-input" type="radio" name="gender" id="gender" value="female" checked>
   <label for="gender" class="form-check-label">female</label>
</div>
</div>
</div>
</form>


